body {
  background-color: aquamarine;
  margin: 3vh;
}

.match-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
  background-color: #60aaff;
  color: white;
}

.person-list {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: blueviolet;
  padding: 2vh;
  margin: 1vh;
  list-style-type: none;
  font-size: 1.15em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.person-list:hover {
    background-color: white;
    color: blueviolet;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-family: "Saira Semi Condensed", sans-serif;
  background-color:rgb(202, 100, 134);
  padding: 3vh;
}

h1 {
  font-size: 2em;
  margin: 0.25vh;
  margin-bottom: 0;
  color: yellow;
}

p.subtitle {
    font-size: 1.25em;
    margin: 0 !important;
    padding: 0;
}

p.subtitle a {
    color: rgb(200, 255, 0);
    font-family: "Noto Sans HK";
}