:root {
  --color-page-background: rgb(123, 255, 123);
  --color-heading-foreground: hsl(54, 100%, 62%);
  --color-heading-background: #ff6767;
  --color-subtitle: rgb(200, 255, 0);

  --color-card-background: #f36886;
  --color-card-foreground: white;
  --color-card-border: rgb(145, 255, 0);
  --color-card-container-background: #ca5fa6;
  --color-mutual-interests-text: yellow;
  --color-mutual-interests-text-heading: rgb(52, 226, 203);
}

body {
  background-color: var(--color-page-background);
  margin: 3vh;
}

.matches-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  padding: 2vh;
  text-align: center;
  background-color: var(--color-card-container-background);
  color: var(--color-card-foreground);
}

.match-card {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  background-color: var(--color-card-background);
  padding: 2vh;
  margin: 2vh;
  list-style-type: none;
  font-size: 1.15em;
  font-weight: bold;
  font-family: "Open Sans", sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 0.5vh transparent dotted;
}

.match-card:hover {
  border: 0.5vh var(--color-card-border) dotted;
}

.heading {
  text-align: center;
  font-weight: bold;
  font-family: "Saira Semi Condensed", sans-serif;
  background-color: var(--color-heading-background);
  padding: 3vh;
}

h1 {
  font-size: 2em;
  margin: 0.25vh;
  margin-bottom: 0;
  color: var(--color-heading-foreground);
}

p.subtitle {
  font-size: 1.25em;
  margin: 0 !important;
  padding: 0;
}

p.subtitle a {
  color: var(--color-subtitle);
  font-family: "Noto Sans HK";
}

section.mutual-interest-container {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 1vh;
  color: var(--color-mutual-interests-text-heading);
}

span.mutual-interest {
  color: var(--color-mutual-interests-text);
  font-size: 1.1em;
  font-weight: 400;
  margin: 0.4vh;
  line-height: 1.75;
  text-decoration-line: overline;
  text-transform: lowercase;
}

@media only screen and (min-width: 426px) {
  .match-card {
    width: 25vw;
  }
}
